@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.bg{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}
/******* Header *******/
@media screen and (max-width: 394px){
    body{
        position: relative;
        margin: 0 auto;
        width: 390px;
    }

    .nav_header{
        width: 346px;
        height: 231px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 41px;
        left: 21px;
    }
    
    .nav_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 346px;
        height: 34px;
    }

    .nav_title{
        width: 265px;
        height: 72px;
        font-family: "Inter-Semibold";
        font-size: 20px;
        line-height: 36px;
        span{
            color: rgba(118, 28, 188, 1);
        }
    }

    .nav_search_bar{
        display: flex;
        flex-direction: column;
        gap: 16px;
        input{
            border-style: none;
        }
    }

    .search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
        background-color: white;
        border-radius: 10px;
        a{
            padding: 12px;
        }
        div{
            border-style: none;
            align-items: center;
            padding: 12px;
        }
    }

    .nav_genres{
        width: 346px;
        height: 28px;
        flex-shrink: 0;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        gap: 12px;
        a{
            white-space: nowrap;
            padding: 6.5px 14.5px 6.5px 14.5px;
            border-radius: 10px;
        }
        a:nth-child(1){
            background-color: cyan;
        }
        a:nth-child(2){
            background-color: yellow;
        }
        a:nth-child(3){
            background-color: orange;
        }
        a:nth-child(4){
            background-color: greenyellow;
        }
    }

    main{
        position: absolute;
        top: 310px;
        left: 22px;
    }
}